{% extends 'layout.twig' %}

{% block content %}


<div class="pure-g">
  <div class="pure-u-3-5">
      <h2>About us!</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
</div>

{% endblock %}
