{% extends 'layout.twig' %}

{% block content %}


<div class="pure-g">
  <div class="pure-u-3-5">
      <h2>About us!</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      {% if curl_result is defined %}
          <pre>{{ curl_result|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
      {% endif %}
  </div>
</div>

{% endblock %}
