{% extends 'layout.twig' %}

{% block content %}


<div class="pure-g">
  <div class="pure-u-3-5">
    <h2>Contact us!</h2>
    <p>Tel: Lorem ipsum dolor sit amet</p>
    <p>Adress: consectetur adipiscing elit</p>
  </div>
</div>

{% endblock %}
